<!DOCTYPE html>
<html lang="en">
<head>
    <title>Приглашение принято</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style type="text/css">
        body {
            font-family: sans-serif;
            background-color: #222;
            margin: 0px;
            display: flex;
        }
        html, body { height: 100%; }
        .main-content {
            height: 100%;
            flex-grow: 1;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
            color: #227eb3;
        }
    </style>
</head>
<body>
    <div class="main-content">
        <h1 style="margin: 0px;">[[${status}]]</h1>
        <p>Спасибо за ваш вклад в нашей системе</p>
    </div>
</body>
</html>